Repository maxgfr/typescript-swc-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,json,md}": ["prettier --write"]
}

fix: cheerio
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: prettier --write

feat: add ts-node with swc for dev
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

feat: add config for esm
  .swcrc
  package.json
  src/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: jest upgrade
  jest.config.cjs
Due: none

fix: jest upgrade
  README.md
Due: prettier --write

fix: jest upgrade
  package.json
  tsconfig.json
Due: prettier --write

fix: command
  .gitignore
  package.json
  tsconfig.build.cjs.json
  tsconfig.build.esm.json
Due: prettier --write

fix: doc
  README.md
Due: prettier --write

fix(eslint): config
  .eslintrc.json
Due: prettier --write

fix: eslint config
  .eslintrc.json
  .prettierrc
  package.json
  src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix
  .github/assets/token.png
  .github/workflows/publish.yml
  .releaserc.json
  README.md
  package.json
  src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  489e8ea3b3153c4f6393dae9b95b0da38bbf8c02
Due: none

feat: add cjs support for npm package
  package.json
Due: prettier --write

fix: readme + eslintignore
  .eslintignore
  README.md
Due: prettier --write

fix: github action
  .github/workflows/publish.yml
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  df068e893bf7ae3ba9001bee99d348cf90e63eff
Due: none

fix: action
  .github/workflows/publish.yml
Due: none

fix: bypass
  .github/assets/permissions.png
  .github/workflows/publish.yml
Due: none

fix: bypass
  .github/workflows/publish.yml
Due: none

fix: protection
  .github/assets/permissions.png
  .github/workflows/publish.yml
  package.json
Due: prettier --write

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  24b88f4e3736996343821daf4ce209f438acbdd0
Due: none

fix: bundle
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .node-version
  package.json
  tsconfig.build.cjs.json
  tsconfig.build.esm.json
  yarn.lock
Due: prettier --write

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7d563dcb676d22e0e85ddc6174b358e2fd6196fe
Due: none

[ImgBot] Optimize images
  .github/assets/token.png
Due: none

fix: ts-node
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  548ed4dbe5da2eedb3535da279830b6ee490b04b
Due: none

fix lint
  tsconfig.json
Due: prettier --write

chore: add documentation
  README.md
  package.json
Due: prettier --write

docs: remove link
  README.md
Due: prettier --write

[StepSecurity] Apply security best practices
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards.yml
  .github/workflows/test.yml
Due: none
