Repository maxgfr/typescript-swc-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,json,md}": ["prettier --write"]
}

Create techstack.yml
  techstack.yml
Due: none

Create techstack.md
  techstack.md
Due: prettier --write

fix: build
  .eslintignore
  .eslintrc.cjs
  .releaserc.json
  jest.config.cjs
  package.json
  techstack.md
  tsconfig.json
  yarn.lock
Due: prettier --write

fix: build encore
  .github/workflows/publish.yml
  yarn.lock
Due: none

chore(release): 1.1.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  66e659a5098d31e8749634fd9d9230580103c0ad
Due: none

fix: test
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

chore(release): 1.1.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d313d0cf1aa6a843a464ae09fe51bbb03a47caf7
Due: none

fix(ci): node v
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

chore(release): 1.1.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cfcc0084c6db51de20cd882cb079454854fc1aec
Due: none

chore: ci
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

chore: ci
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

ci
  .eslintrc.cjs
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

ci
  .github/workflows/test.yml
Due: none

fix: lockfile
  .eslintrc.cjs
  jest.config.cjs
  jest.config.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(release): 1.1.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9fc9f7e11696270cafffbc2984e73613fe73c445
Due: none

ci
  package.json
  yarn.lock
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

fix: ci npm publish
  .github/assets/token.png
  .github/workflows/publish.yml
  README.md
Due: prettier --write

feat: use pnpm
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  README.md
  package.json
  pnpm-lock.yaml
  techstack.md
  techstack.yml
  yarn.lock
Due: prettier --write

fix: ci npm publish
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: update tech stack and replace ESLint with Biome
  .eslintignore
  .eslintrc.cjs
  .github/workflows/lint.yml
  .lintstagedrc.json
  .node-version
  .prettierrc
  README.md
  biome.json
  package.json
  pnpm-lock.yaml
  techstack.md
  techstack.yml
Due: prettier --write

fix: update Node.js setup to use version file in workflows
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  README.md
  package.json
Due: prettier --write

feat: add permissions for GitHub actions in publish workflow
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .husky/pre-commit
  nodemon.json
  package.json
  techstack.md
  techstack.yml
Due: prettier --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9a1ef7c2392bca8415bf717ca5ca1a51d3ff1d85
Due: none

fix: update Biome version and adjust configuration files
  .husky/pre-commit
  biome.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  955bee594fddbd6ea419861c41bbce5ee17ca1b3
Due: none

fix: license name
  LICENSE
Due: none

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3279746945e47f7f643926a2bf6718f2496773bc
Due: none

refactor: clean up tsconfig.json by removing ts-node configuration
  .github/workflows/security.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write
